@using EPiServer.Shell
@using Forte.EpiContentUsage.Extensions
@model Forte.EpiContentUsage.ViewModels.MainViewViewModel

@{
    Layout = "_ShellLayout";
}

<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="react-app"></div>
<script type="text/javascript">const appModel = @Html.Serialized(Model.FrontendAppModel);</script>
<script src="@Paths.ToClientResource(Model.GetType(),"ClientResources/react-app.js")"></script>



        


