.epi-content-usage {
  position: relative;

  .page-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.content-usage-list {
  .content-usage-list-filters {
    .oui-text-input-with-icon--left {
      display: inline-block;
      width: 350px;
    }

    .oui-dropdown-group {
      margin-left: 8px;
    }
  }

  .content-usage-table {
    tr.hover--disabled:hover {
      td {
        background: inherit;
      }
    }

    .oui-spinner {
      margin: 30px;
    }
  }
}
