@use 'sass:map';
@import "./utils";

.epi-content-usage {
  position: relative;

  .epi-content-usage-grid {
    .epi-content-usage-table-container {
      overflow-x: auto;
    }

    .epi-content-usage-table {
      min-width: max-content;
      font-size: 13px;

      & > tbody {
        & > tr {
          &:hover {
            cursor: pointer;

            & > td {
              background-color: var(--grey-25);
            }
          } 

          &.hover--disabled:hover {
            & > td {
              background: inherit;
            }
          }
        }
      }

      .oui-spinner {
        margin: 30px;
      }
    }
  }
}
