.content-types-list {
  .content-types-list-filters {
    .oui-text-input-with-icon--left {
      display: inline-block;
      width: 350px;
    }

    .oui-dropdown-group {
      margin-left: 8px;
    }
  }
}
