.forte-optimizely-content-usage-spinner__center {
    display: flex;
    justify-content: center;
}

.forte-optimizely-content-usage-page-url {
    padding: 0 8px;
    width: 100%;
    &:hover {
        background-color: var(--grey-50);
    }
}

.oui-disclose {
    & .soft-half {
      padding: 0 4px !important;
    }
}
